<footer>
    <div class="footer-links">
        <a href="#zona1">Acasa</a>
        <a href="#zona2">Produse</a>
        <a href="#zona3">Categorii</a>
        <a href="#zona4">Parteneri</a>
        <a href="#zona5">Profil</a>
        <a href="#zona6">Contact</a>
        <a href="#zona7">Informatii</a>
        <a href="#zona8">Oferte</a>
        <a href="#zona1" download>Download Index</a>
    </div>

    <address>
        <p>
            Adresa:
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4344659,26.0976765,879m/data=!3m1!1e3!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank">
                Facultatea de Matematica si Informatica
                <abbr title="Facultatea de Matematică și Informatică">FMI</abbr>
            </a>
        </p>
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.895026424111!2d26.0976765!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1679999999999"
                width="300"
                height="350"
                style="border:0;"
                allowfullscreen=""
                loading="lazy">
        </iframe>
        <p>Email: </p>
        <a href="mailto:vintage_Mosaic@gmail.com">vintage_Mosaic@gmail.com</a>
        <p>Numar telefon contact: </p>
        <a href="tel:+40723049265">+40 723 049 265</a>
        <p>Adreasa: </p>
        <a href="https://www.google.com/maps/place/Strada+Doctor+Dimitrie+Ernici+4,+Piatra+Neam%C8%9B/@46.9340702,26.3691309,37m/data=!3m1!1e3!4m6!3m5!1s0x473555cbad7f9a7d:0x8e8083c6aa9c335b!8m2!3d46.9340702!4d26.3692918!16s%2Fg%2F11pzxp0l17?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank">
            Sediul Companiei
        </a>
        <p>Link media Whatsapp: </p>
        <a href="https://wa.me/40723049265" target="_blank">Deschide conversatia WhatsApp</a>
    </address>

    <section id="Termeni-si-conditii">
        <h2>Termeni și Condiții</h2>
        <embed src="https://ascendis.ro/assets/app/docs/termeni-si-conditii-ro.pdf" width="500" height="300">
        <p>PDF-ul nu poate fi afișat.</p>
    </section>

    <p class="banner">Acesta este un proiect scolar</p>

    <p>Adresa ta IP: <%= locals.ip %></p>

    <small>&copy; <time datetime="2025-03-05">5 martie 2025</time> Toate drepturile rezervate.</small>

    <a href="#top" id="link-top" title="Revenire la inceputul paginii">Top
        <span class="link-container">
      <span class="triangle"></span>
    </span>
    </a>
</footer>

<script>
    document.getElementById('link-top').addEventListener('click', function(e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>

