<header>
    <div class="branding">
        <i class="fa-solid fa-star"></i>
        <h2>The Vintage Mosaic</h2>
        <i class="fa-solid fa-cog fa-spin"></i>
    </div>
    <nav class="site-nav">
        <div class="menu-toggle" role="button" aria-expanded="false" aria-controls="main-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="main-menu" id="main-menu">
            <li><a href="/">Acasă</a></li>
            <li><a href="#zona2">Produse</a></li>
            <li>
                <a href="#zona3">Categorii</a>
                <ul class="submenu">
                    <li><a href="#mobilier-de-epoca">Mobilier de epocă</a></li>
                    <li><a href="#arta-plastica">Artă plastică</a></li>
                    <li><a href="#bijuterii-vintage">Bijuterii vintage</a></li>
                    <li><a href="#ceasuri-vintage">Ceasuri vintage</a></li>
                    <li><a href="#portelanuri-si-ceramica">Porțelanuri și ceramică</a></li>
                </ul>
            </li>
            <li>
                <a href="#zona4">Parteneri</a>
                <ul class="submenu">
                    <li><a href="#zona4">Parteneri</a></li>
                    <li><a href="#implicarea-culturala">Evenimente</a></li>
                </ul>
            </li>
            <li><a href="#zona5">Profil</a></li>
            <li><a href="#zona6">Contact</a></li>
            <li><a href="#zona7">FAQ</a></li>
            <li><a href="#zona8">Oferte</a></li>
            <li><a href="#informatii">Informații</a></li>
        </ul>
    </nav>
    <div class="container-iframe">
        <div class="taburi-iframe">
            <a href="https://www.youtube.com/embed/UPk56BR1Cmk" target="ifr-video">Importanța artei</a>
        </div>
        <iframe name="ifr-video" width="100%" height="315" src="https://www.youtube.com/embed/UPk56BR1Cmk" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="Video Importanța Artei"></iframe>
    </div>
    <section id="hero-fixed">
        <h2>Bine ati venit la The Vintage Mosaic</h2>
        <p>Descoperiti colectia noastra unica.</p>
    </section>
</header>
