<!DOCTYPE html>
<html lang="ro">
<head>

    <meta charset="UTF-8">
    <meta name="author" content="Diaconescu Adrian">
    <meta name="keywords" content="vintage, mozaic, arta, design, antichitate">
    <meta name="description" content="Website dedicat artei vintage si mozaicului, explorand frumusetea designului clasic.">
    <title>The Vintage Mosaic - Artă si Design Vintage</title>

    <link rel="icon" type="image/png" href="/public/resurse/ico/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/public/resurse/ico/favicon.svg" />
    <link rel="shortcut icon" href="/public/resurse/ico/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/resurse/ico/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="art_and_antiquities" />
    <link rel="manifest" href="/public/resurse/ico/site.webmanifest" />

    <link rel='preconnect' href="https://fonts.googleapis.com">
    <link rel='preconnect' href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/general.scss">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/custom.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>