/* bonus etapa 3 */
/* 1 */
/* am folosit SASS pt a genera animatia cu delay pentru meniul hamburger */
.menu-toggle{
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
/*stilul pentru fiecare bara a hamburgerului*/
.menu-toggle .bar{
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--nav-text);
  transition: all 0.3s ease;
}
.menu-toggle .bar:nth-child(1){
  top: 0;
}
/*a doua bara in zona de mijlox*/
.menu-toggle .bar:nth-child(2){
  top: calc(50% - 2px);
}
/* pozitioneaza a treia bara in partea de jos a containerului. */
.menu-toggle .bar:nth-child(3){
  bottom: 0;
}
/* 2 */
/*definirea aparitiei barelor*/
@keyframes hamburger-appear{
  0%{
    background-color: transparent;
    opacity: 0;
    transform: translateY(-10px) scale(0.8);
  }
  50%{
    background-color: var(--nav-text);
    opacity: 0.5;
    transform: translateY(2px) scale(1.1);
  }
  100%{
    background-color: var(--nav-text);
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 768px){
  .menu-toggle .bar{
    animation: hamburger-appear 0.5s ease-out;
  }
}
/* 3 variante meniu*/
/*val intarzierii*/
$delay-step: 300ms;

@for $i from 1 through 3 {
  .menu-toggle .bar:nth-child(#{$i}){
    animation: hamburger-appear 0.5s ease-out;
    animation-delay: (($i - 1) * $delay-step);
  }
}


